# Python

**pycache**/
*.pyc
venv/

# Large datasets

backend/Reviews.csv
backend/reviews.csv

# Generated reports

backend/analysis_report.csv

# Trained models

backend/model/

# React

frontend/node_modules/
frontend/build/

# macOS

.DS_Store
